# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de la base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=desafiomkp
DB_USER=postgres
DB_PASSWORD=postgres

# Configuración de JWT
JWT_SECRET=desafio_mkp_secret_key
JWT_EXPIRES_IN=24h